---
import Layout from "@/layouts/Layout.astro";
import { displayWord, LOCALES } from "@/locale";
import { MANGA, displayDate, getCover } from "@/content/manga";
import { displayAlias } from "@/content/aliases";
import { Image } from "astro:assets";
import { objectMap } from "@/utils/object";

export function getStaticPaths() {
  return objectMap(LOCALES, ([locale]) => ({ params: { locale } }));
}

const locale = Astro.params.locale;
---

<Layout>
  <div>
    <table class="table">
      <tbody>
        {
          objectMap(MANGA, ([key, value]) => {
            const cover = getCover(key, locale);
            const published =
              value.published === "published"
                ? "Published"
                : value.published === "self-published"
                  ? "Self-Published"
                  : "Not Published";
            const publishedStyle =
              value.published === "published"
                ? "badge-success"
                : value.published === "self-published"
                  ? "badge-warning"
                  : "badge-error";
            return (
              <tr class="hover:bg-base-200">
                <td>
                  <a
                    href={`/${locale}/manga/${key}`}
                    class="absolute inset-0"
                    aria-label={displayWord(value.name, locale)}
                  />
                  {cover && <Image src={cover} alt="" height={200} class="h-20 w-auto" />}
                </td>
                <td>
                  <h3 class="font-bold">{displayWord(value.name, locale)}</h3>
                  <div>{displayAlias(value.alias, locale)}</div>
                </td>
                <td>
                  <div class={`badge ${publishedStyle}`}>{published}</div>
                  <div class="text-center">{displayDate(value.date, locale)}</div>
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </div>
</Layout>
