---
import { displayAlias, type AliasId } from "@/content/aliases";
import type { CollectionId } from "@/content/collections";
import type { MangaId } from "@/content/manga";
import { displayWord, type Locale, type Word } from "@/locale";
import { getCover } from "@/utils/image";
import { Image } from "astro:assets";
import ExternalLink from "./ExternalLink.astro";

interface Props {
  id: MangaId | CollectionId;
  locale: Locale;
  name: Word;
  alias: AliasId;
  jpLink?: string;
  enLink?: string;
  mokuro?: string;
}

const { id, locale, name, alias, jpLink, enLink, mokuro } = Astro.props;

const cover = getCover(id, locale);
---

<div class="flex gap-4 max-sm:flex-wrap max-sm:justify-center">
  {cover && <Image src={cover} alt="" class="h-80 w-auto max-w-none sm:h-100" />}
  <div class="flex w-full flex-col justify-center">
    <h1 class="text-primary text-2xl font-bold">{displayWord(name, locale)}</h1>
    <a class="link link-secondary link-hover mt-1 mb-2 text-lg" href={`/${locale}/alias/${alias}`}
      >{displayAlias(alias, locale)}</a
    >
    <slot />

    <div class="mt-4 flex flex-col space-y-1">
      {
        jpLink && (
          <ExternalLink href={jpLink} small>
            Read in Japanese
          </ExternalLink>
        )
      }
      {
        enLink && (
          <ExternalLink href={enLink} small>
            Read in English
          </ExternalLink>
        )
      }
      {
        mokuro && (
          <ExternalLink
            href={`https://reader.mokuro.app/#/upload?cbz=https://fujimoto.fish/mokuro/${mokuro}.cbz`}
            small
          >
            Mokuro
          </ExternalLink>
        )
      }
    </div>
  </div>
</div>
