---
import { Markdown } from "astro-remote";
import Layout from "@/layouts/Layout.astro";
import { getStaticPaths as getLocalPaths } from "@/pages/[locale]/index.astro";
import { displayWord } from "@/locale";
import { MANGA, displayDate } from "@/content/manga";
import { objectKeys, objectMap } from "@/utils/object";
import PublishedBadge from "@/components/PublishedBadge.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import Overview from "@/components/Overview.astro";
import { COLLECTIONS } from "@/content/collections";

export function getStaticPaths() {
  return getLocalPaths().flatMap(({ params: { locale } }) =>
    objectMap(MANGA, ([manga]) => ({ params: { locale, manga } })),
  );
}

const { locale, manga } = Astro.params;
const thisManga = MANGA[manga];
const { summary, summarySource, date, dateProof, note, type } = thisManga;

const collectionId = objectKeys(COLLECTIONS).find((col) => COLLECTIONS[col].manga.includes(manga));
---

<Layout>
  <main class="max-w-4xl space-y-4 p-2">
    <Overview {...thisManga} id={manga} locale={locale}>
      <div class="flex gap-2">
        <PublishedBadge manga={thisManga} />
        {type && <div class="badge badge-dash">{type === "one-shot" ? "One-Shot" : "Series"}</div>}
      </div>
      <div class="mt-2">{displayDate(date, locale)}</div>
    </Overview>

    {
      summary && (
        <div>
          <p>{displayWord(summary, locale)}</p>
          {summarySource && (
            <ExternalLink href={displayWord(summarySource, locale)} muted small>
              Source
            </ExternalLink>
          )}
        </div>
      )
    }

    {
      collectionId && (
        <div>
          This manga is apart of
          <a class="link link-accent link-hover" href={`/${locale}/collection/${collectionId}`}>
            {displayWord(COLLECTIONS[collectionId].name, locale)}
          </a>
          .
        </div>
      )
    }

    <div>
      <h2 class="text-lg font-semibold">Proof of Date</h2>
      <Markdown content={displayWord(dateProof, locale)} components={{ a: ExternalLink }} />
    </div>

    {
      thisManga.published === "unpublished" && (
        <div>
          <h2 class="text-lg font-semibold">Proof of Existence</h2>
          <Markdown
            content={displayWord(thisManga.existenceProof, locale)}
            components={{ a: ExternalLink }}
          />
        </div>
      )
    }

    {
      note && (
        <div>
          <h2 class="text-lg font-semibold">Note</h2>
          <Markdown content={displayWord(note, locale)} components={{ a: ExternalLink }} />
        </div>
      )
    }
  </main>
</Layout>
